@import url(global.css);

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-group{
    display: flex;
    
}

.btn-primary {
    padding: 0.7rem 2rem;
    border-radius: 25px;
    background-color: #2190FF;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 15px;
}

.btn-danger {
    padding: 0.7rem 2rem;
    border-radius: 25px;
    background-color: #ec3a3a;
    color: #fff;
    border: 1px solid transparent;
    margin-top: 15px;
}

@media screen and (max-width:600px) {
    .form-group{
        flex-direction: column;
        align-items: flex-start;
    }
    .btn-group{
        flex-direction: column;
    }
    
}