.app-header {
    display: flex;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: .25rem 1rem;
    background-color: #9E515F;
    color: #fff;
}

.app-logo {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.app-header ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 1rem;
}

.app-header ul li {
    text-wrap: nowrap;
    padding: .5rem;
}

.app-navbar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile {
    padding: .25rem 1rem;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 3px rgba(1, 1, 1, .19);
    border: 1px solid #ffffff;
}

.nav-menu {
    display: none;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    gap: .85rem;

}

.nav-menu span {
    background-color: #eee7e8;
    border-radius: .5rem;
    min-width: 4rem;
    min-height: .45rem;
}


a {
    text-decoration: none;
    color: inherit;
}

.btn-primary {
    background-color: #090de2;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-wrap: nowrap;
}