.appointment-grid {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d4d4d4;
    border-radius: 10px;  
}

.appointment-form {
    display: flex;
    gap: .5rem;
}

.appointment-text {
    text-align: center;
}

